<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Nuzlocke Tool!</title>
</head>

<body>
    <h1>This is a nuzlocke tool!</h1>
    <h1>Planned functionality: </h1>
    <h1>Lorelocke functions! Information and lore rules for all pokemon</h1>
    <h1>Track your current and past nuzlocke runs</h1>
    <h1>Share your progress with friends!</h1>

    <form action="/pokedata" method="GET">
        <input type="submit" value="Go to pokemon information page"></input>
    </form>
</body>
</html>